services:
  web:
    # replace username/repo:tag with your name and image details
    image: danielnem/friendlyhello:v1
    ports:
      - "4001:80"
    networks:
      - webnet
    environment:
      - REDIS_HOST=redis
      
  redis:
    image: redis/redis-stack:latest
    ports:
      - "6379:6379"   
    networks:
      - webnet

networks:
  webnet:
